@import "tailwindcss";



@theme inline {

  --font-sans: var(--font-fredoka);
  --font-mono: var(--font-fredoka);
  --color-logo-yellow: #fbc047;
  --color-logo-blue: #46a0c8;
  --color-logo-pink: #e482a2;
  --color-logo-green: #aebd5b;
}

body {
  font-family: var(--font-fredoka), sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}